<div class="popularBlog container">
  <div class="title">Popular Blog Posts</div>
  <div class="blogPosts row g-5">
    <div class="bigPost col-12 col-xl-6 col-lg-12">
      <div class="image">
        <img src="../../../assets/blogimage.png" alt="" />
      </div>
      <div class="tags">
        <div class="tag">Ilias</div>
        <div class="tag">Meriem</div>
      </div>
      <p class="title">
        The Impact of Technology on the Workplace: How Technology is Changing
      </p>
      <div class="dashboard">
        <div class="publisher">
          <img src="../../../assets/logo.png" alt="" />
          <p>Admin</p>
        </div>
        <p class="date">August 20,2022</p>
      </div>
      <p class="paragraph">
        Last month, we launched a remarkable social media campaign called "HR
        Heroes", inviting employees to recognise and nominate HR Managers who
        demonstrate exceptional dedication and support in the workplace. Among
        the outstanding HR professionals nominated, Dianabasi Edo, the esteemed
        HR Manager at Sunry Foods, emerged as one of the HR Heroes...
      </p>
      <a routerLink="/blog/xe"><button>Continue Reading</button></a>
    </div>
    <div class="bigPost col-12 col-xl-6 col-lg-12">
      <div class="image">
        <img src="../../../assets/blogimage2.png" alt="" />
      </div>
      <div class="tags">
        <div class="tag">Ilias</div>
        <div class="tag">Meriem</div>
      </div>
      <p class="title">
        The Impact of Technology on the Workplace: How Technology is Changing
      </p>
      <div class="dashboard">
        <div class="publisher">
          <img src="../../../assets/logo.png" alt="" />
          <p>Admin</p>
        </div>
        <p class="date">August 20,2022</p>
      </div>
      <p class="paragraph">
        Last month, we launched a remarkable social media campaign called "HR
        Heroes", inviting employees to recognise and nominate HR Managers who
        demonstrate exceptional dedication and support in the workplace. Among
        the outstanding HR professionals nominated, Dianabasi Edo, the esteemed
        HR Manager at Sunry Foods, emerged as one of the HR Heroes...
      </p>
      <a routerLink="/blog/xe"><button>Continue Reading</button></a>
    </div>
  </div>
</div>
