<div class="admin_login container">
    <div class="login">
        <img src="../../assets/logo.png" alt="">
        <div class="admin_infos">
            <div class="username">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <button class="btn btn-primary ">Login</button>
        </div>
    </div>
</div>