<div class=" dashboard d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column sidebar_left" orientation="vertical" id="sidebar_left">

    <ng-container ngbNavItem="top">

        <div class="profile">
        <img src="../../../../assets/picture.png" alt="">
        <p style="width: fit-content;">Username</p>
      </div>
      <button ngbNavLink>Home</button>
			<ng-template ngbNavContent>
				<div class="statistics">
          <div class="views">
            <div class="title">views</div>
            <div class="number">721K</div>
          </div>
          <div class="views">
            <div class="title">Visits</div>
            <div class="number">367K</div>
          </div>
          <div class="views">
            <div class="title">Reactions</div>
            <div class="number">5</div>
          </div>
          <div class="views">
            <div class="title">Subscriptions</div>
            <div class="number">23</div>
          </div>
        </div>
        <div class="charts">

          <div class="pie" [chart]="pieChart">

          </div>

          <div class="line" [chart]="lineChart">

          </div>
        </div>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem="middle">
			<button ngbNavLink>Add Blog</button>
			<ng-template ngbNavContent>
				<form [formGroup]="blogForm" (ngSubmit)="submitBlog()" class="add_blog">
          <div class="title_tags">
            <div class="title">
              <label for="title">Add Title</label>
              <input type="text" formControlName="title" name="title" placeholder="Enter Title" required>
            </div>
            <div class="tags">
              <label for="title">Add Tags Seperated by Comma</label>
              <input type="text" formControlName="tags" name="title" placeholder="Enter Tags" required>
            </div>
          </div>
          <div class="image">
            <label for="image">Add Image</label>
            <input (change)="onFileSelected($event)" formControlName="image" type="file" name="image" class="custom-file-input" required>
          </div>
          <div class="title1">
            <label for="title1">Add Title of Paragraph 1</label>
            <input type="text" formControlName="title1" name="title1" placeholder="Add Title of Paragraph 1" required>
          </div>
          <div class="paragraph1">
            <label for="paragraph1">Add Paragraph 1</label>
            <input type="text" formControlName="paragraph1" name="paragraph1" placeholder="Add Paragraph 1" required>
          </div>
          <div class="title2">
            <label for="title2">Add Title of Paragraph 2</label>
            <input type="text" formControlName="title2" name="title2" placeholder="Add Title of Paragraph 2" required>
          </div>
          <div class="paragraph2">
            <label for="paragraph2">Add Paragraph 2</label>
            <input type="text" formControlName="paragraph2" name="paragraph2" placeholder="Add Paragraph 2" required>
          </div>
          <div class="title3">
            <label for="title3">Add Title of Paragraph 3</label>
            <input type="text" formControlName="title3" name="title3" placeholder="Add Title of Paragraph 3" required>
          </div>
          <div class="paragraph3">
            <label for="paragraph3">Add Paragraph 3</label>
            <input type="text" formControlName="paragraph3" name="paragraph3" placeholder="Add Paragraph 3" required>
          </div>
          <input type="submit" value="Add Blog" class="btn btn-primary">
        </form>
        <div *ngIf="submissionSuccess" class="notif alert alert-success">
          Blog submitted successfully!
        </div>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem="bottom">
			<button ngbNavLink>Modify Blog</button>
			<ng-template ngbNavContent>
				<div class="blogs_modify">
          <div *ngIf="!isModifying" class="blogs">
            <div class="blog">
              <img src="../../../../assets/blogimage.png" alt="">
              <div class="tag">
                Wellness
              </div>
              <div class="title">
                The Impact of Technology on the Workplace: How Technology is Changing
              </div>
              <div class="paragraph">
                Last month, we launched a remarkable social media campaign called "HR Heroes", inviting employees to recognise and nominate HR Managers who demonstrate exceptional dedication and support in the workplace...
              </div>
              <div class="buttons">
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Modify</button>
              </div>
            </div>
            <div class="blog">
              <img src="../../../../assets/blogimage.png" alt="">
              <div class="tag">
                Wellness
              </div>
              <div class="title">
                The Impact of Technology on the Workplace: How Technology is Changing
              </div>
              <div class="paragraph">
                Last month, we launched a remarkable social media campaign called "HR Heroes", inviting employees to recognise and nominate HR Managers who demonstrate exceptional dedication and support in the workplace...
              </div>
              <div class="buttons">
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Modify</button>
              </div>
            </div>
            <div class="blog">
              <img src="../../../../assets/blogimage.png" alt="">
              <div class="tag">
                Wellness
              </div>
              <div class="title">
                The Impact of Technology on the Workplace: How Technology is Changing
              </div>
              <div class="paragraph">
                Last month, we launched a remarkable social media campaign called "HR Heroes", inviting employees to recognise and nominate HR Managers who demonstrate exceptional dedication and support in the workplace...
              </div>
              <div class="buttons">
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Modify</button>
              </div>
            </div>
            <div class="blog">
              <img src="../../../../assets/blogimage.png" alt="">
              <div class="tag">
                Wellness
              </div>
              <div class="title">
                The Impact of Technology on the Workplace: How Technology is Changing
              </div>
              <div class="paragraph">
                Last month, we launched a remarkable social media campaign called "HR Heroes", inviting employees to recognise and nominate HR Managers who demonstrate exceptional dedication and support in the workplace...
              </div>
              <div class="buttons">
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Modify</button>
              </div>
            </div>
            <div class="blog">
              <img src="../../../../assets/blogimage.png" alt="">
              <div class="tag">
                Wellness
              </div>
              <div class="title">
                The Impact of Technology on the Workplace: How Technology is Changing
              </div>
              <div class="paragraph">
                Last month, we launched a remarkable social media campaign called "HR Heroes", inviting employees to recognise and nominate HR Managers who demonstrate exceptional dedication and support in the workplace...
              </div>
              <div class="buttons">
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Modify</button>
              </div>
            </div>
          </div>
          <div *ngIf="ModificationSuccess" class="notif alert alert-success">
            Blog Modified successfully!
          </div>
          <form *ngIf="isModifying" [formGroup]="modifyForm" (ngSubmit)="submitModify()" class="add_blog">
            <div class="title_tags">
              <div class="title">
                <label for="title">Add Title</label>
                <input type="text" formControlName="title" name="title" placeholder="Enter Title" required>
              </div>
              <div class="tags">
                <label for="title">Add Tags Seperated by Comma</label>
                <input type="text" formControlName="tags" name="title" placeholder="Enter Tags" required>
              </div>
            </div>
            <div class="image">
              <label for="image">Add Image</label>
              <input (change)="onFileSelected($event)" formControlName="image" type="file" name="image" class="custom-file-input" required>
            </div>
            <div class="title1">
              <label for="title1">Add Title of Paragraph 1</label>
              <input type="text" formControlName="title1" name="title1" placeholder="Add Title of Paragraph 1" required>
            </div>
            <div class="paragraph1">
              <label for="paragraph1">Add Paragraph 1</label>
              <input type="text" formControlName="paragraph1" name="paragraph1" placeholder="Add Paragraph 1" required>
            </div>
            <div class="title2">
              <label for="title2">Add Title of Paragraph 2</label>
              <input type="text" formControlName="title2" name="title2" placeholder="Add Title of Paragraph 2" required>
            </div>
            <div class="paragraph2">
              <label for="paragraph2">Add Paragraph 2</label>
              <input type="text" formControlName="paragraph2" name="paragraph2" placeholder="Add Paragraph 2" required>
            </div>
            <div class="title3">
              <label for="title3">Add Title of Paragraph 3</label>
              <input type="text" formControlName="title3" name="title3" placeholder="Add Title of Paragraph 3" required>
            </div>
            <div class="paragraph3">
              <label for="paragraph3">Add Paragraph 3</label>
              <input type="text" formControlName="paragraph3" name="paragraph3" placeholder="Add Paragraph 3" required>
            </div>
            <input type="submit" value="Modify Blog" class="btn btn-primary">

          </form>

        </div>
			</ng-template>
		</ng-container>
        <div class="logout">
            <button class="btn btn-danger">Logout</button>
        </div>
	</div>

	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
