<div class=" dashboard d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column sidebar_left" orientation="vertical" id="sidebar_left">

    <ng-container ngbNavItem="top">

        <div class="profile">
        <img src="../../../../assets/picture.png" alt="">
        <p style="width: fit-content;">Username</p>
      </div>
      <button ngbNavLink>Home</button>
			<ng-template ngbNavContent>
				<div class="statistics">
          <div class="views">
            <div class="title">views</div>
            <div class="number">721K</div>
          </div>
          <div class="views">
            <div class="title">Visits</div>
            <div class="number">367K</div>
          </div>
          <div class="views">
            <div class="title">Reactions</div>
            <div class="number">5</div>
          </div>
          <div class="views">
            <div class="title">Subscriptions</div>
            <div class="number">23</div>
          </div>
        </div>
        <div class="charts">

          <div class="pie" [chart]="pieChart">

          </div>

          <div class="line" [chart]="lineChart">

          </div>
        </div>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem="middle">
			<button ngbNavLink>Middle</button>
			<ng-template ngbNavContent>
				<p>
					Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
					farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
					ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
					helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
					8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
					stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
				</p>
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem="bottom">
			<button ngbNavLink>Bottom</button>
			<ng-template ngbNavContent>
				<p>
					Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
					facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
					congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
					et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
					faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
					varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
					aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
				</p>
			</ng-template>
		</ng-container>
        <div class="logout">
            <button class="btn btn-danger">Logout</button>
        </div>
	</div>

	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
